/*Background Gradient of Logo 
Dark Blue = #0053CF position : 0%
Light Blue = #8FECFA position : 100%*/

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    border: 0;
    color: #ffffff;
}

body {
    min-height: 100vh;
    background-color: #0A0C10;
    background-repeat: no-repeat;
    background-position: center;
    
}

#sideBar {
    position: fixed;
    top: 0;
    margin-top:21px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #0A0C10;
    right:-100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    border-color: #ffffff;
    border-style: double;
    border-width: 2px;
    animation-name: sidebar;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

#sideBar li {
    list-style-type: none;
    margin-bottom: 10%;
    width:100%;
}

#sideBar a {
    width: 100%;
}



.sideNav {
    padding: 10px;
    font-size: 1.2rem;
    color: #3b3c3d;
    text-decoration:none;
    margin-bottom: 20px;
    font-weight: 500;
}

.sideNav:hover {
    color: #b6b6b6;
}

.sideNav:focus {
    color:#ffffff
}



#navBar{
    margin-left: 10px;
} 


nav {
    background-color: #0A0C10;
    border-color: #ffffff;
    border-style: double;
    border-width: 2px;
    border-radius: 20px;
    width: 97%;
    margin-left: 1%;
    margin-right: 2%;
    height: 4rem;
    position: fixed;
    align-items: center;
    display: flex;
    z-index: 999;
    
}

nav ul {
    width: 95%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}

nav li {
    height: 60px;

}

.headNav {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #3b3c3d;
    font-weight: 500;
}

.headNav:hover {
    color: #b6b6b6;
}

.headNav:focus {
    color:#ffffff
}

#lightModeBtn {
    margin-top: 14px;
    margin-right: 15px;
}

#menu {
    margin-top: 14px;
    margin-right: 15px;
}


nav li:first-child {
    margin-right: auto;
}

nav li:nth-child(9){
    margin-left: auto;
}

#logo {
  width: 7rem;  
  display: flex;
  margin-top:-25px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from{
     --angle:0deg;
    } 
 
    to{
     --angle:360deg;
    }
 }




@media (max-width:1088px) {
    .headNav{
        display:none;
    }

    
}

@media (min-width:1089px) {
    #menu{
        display: none;
    }
}


.slider{
    background-color: #0A0C10;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    
    
}

.imgs{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 0;
}

.imgDivs{
    overflow: hidden;
    width: 95%;
    height: 35%;
    inset: 0 0 0 0;
    margin-top: 0;
}

.rooms{
    width: 50%;
    display: flex;
    justify-content: center;
    min-width:250px ;
    max-width: 300px;
    background-color: #0A0C10;
    border-color: #ffffff;
    border-style: double;
    border-width: 2px;
    border-radius: 32px;
    transition: margin-top 0.4s ease;
    position: relative;
    z-index: 1;
    margin-left:20px;
   
    
}

.rooms:hover{
    margin-top: 30px;
    position:relative;
    height: 100%;
    width: 50%;
    min-width:250px ;
    max-width: 300px;
    
}

.rooms:hover button{
    border-color: #0A0C10;
}
.rooms:hover button::after{
    content:'';
    position: absolute;
    width:92.5px;
    height: 38px;
    background-image: conic-gradient(from var(--angle), #0053CF,#8FECFA);
    border-color:#0A0C10;
    border-radius: 17px;
    animation: 10s spin linear infinite;
    z-index: -1;
    border-radius: 17px;
    padding: 2px;
    left: 10.3%;
    bottom: 2.65%;
    animation-play-state: running;
}


.roomList{
    list-style-type: none;
    text-align: left;
    padding-left: 5%;
}

.roomList li button {
    cursor: pointer;
    padding: 7px 12px;
    margin-left: 15px;
    background-color: #0A0C10;
    color: #ffffff;
    border-color: #ffffff;
    border-style: double;
    border-width: 2px;
    font-family: Poppins;
    border-radius: 15px;
    animation-play-state: paused;
}

.roomList li button:hover{
    border-color:#0A0C10 ;
}


.roomList li button:hover:after, .roomList li button:hover:before{
    content:'';
    position: absolute;
    width:92.5px;
    height: 38px;
    background-image: conic-gradient(from var(--angle), #0053CF,#8FECFA);
    border-color:#0A0C10;
    animation: 10s spin linear infinite;
    z-index: -1;
    border-radius: 17px;
    
    animation-play-state: running;
    left: 10.3%;
    bottom: 2.65%;
    
}

.roomList li button:hover:before{
    filter: blur(0.2rem);
    opacity:(0.8);
    left: 10.5%;
    bottom: 2.65%;
    animation-play-state: paused;
}

.roomList p{
    margin-left: 10px;
    width: 90%;
    text-align:left;
}

h1{
    position: relative;
    padding-top: 180px;
    
}

.head p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1px;
}

.head{
    display: flex;
    flex-direction: column;
    width: inherit;
}

.head div {
    margin-top: 0;
    margin-left: 0px;
    left: 0;
    background-color:none;
    padding: 1px 6px;
    
    background-color: #0A0C10;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-property: width;
    transition-duration: 0.2s;
}

.rooms:hover .head div{
    width:180px;
    background-image: linear-gradient(to left, #0053CF,#8FECFA);
    border: none;
    padding: 1px 6px;
    display: block;
    margin-left: 9px;
    border-radius: 20px;
    cursor: text;
}

#spaces{
    display: flex;
    opacity: 0;
}

.bookings{
    width: 100%;
    background-color: #7801ff;
    
    margin-top: 20px;
}



